{
	email kfreitag@kieran.ca
}

testhabits.kfreitag.ca {
	reverse_proxy beaverhabits:8080
}

id.kfreitag.ca {
	reverse_proxy pocket-id:1411
}

budget.kfreitag.ca {
	encode gzip zstd
	reverse_proxy actual-budget:5006
}

library.kfreitag.ca {
	reverse_proxy booklore:6060
}